.box {
    width: 400px;
}

.link {
    display: block;
    margin-bottom: 8px;
    font-family: monospace;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

.buttonsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    column-gap: 8px;
}

.hideUnderLine {
    text-decoration: none !important;
}