.tab {
    font-family: MultiTypePixel, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.53);

    &[aria-selected="true"] {
        color: rgba(255, 255, 255, 0.53);
    }

    @media screen and (max-width: 480px) {
        font-size: 16px;
    }
}

.tabs {
    @media screen and (max-width: 480px) {
        margin-top: -16px;
    }
}