.box {
    position: relative;
    box-sizing: border-box;
    width: max-content;
    padding: 24px;
    background-color: rgba(45, 50, 70, .87);
    box-shadow: -8px 0 0 0 black,
        8px 0 0 0 black,
        0 -8px 0 0 black,
        0 8px 0 0 black;

    @media screen and (max-width: 480px) {
        width: calc(95% - 16px) !important;
        padding: 16px;
    }

    &__title {
        font-family: MultiTypePixel;
        color: rgba(255, 255, 255, 0.53);
        font-size: 32px;
        margin-bottom: 16px;
    }
}