.input {
    display: flex;
    width: 100%;
    margin: 4px 0 8px;

    & input {
        color: rgba(255, 255, 255, 0.87);
        &:disabled {
            color: rgba(255, 255, 255, 0.38);
            -webkit-text-fill-color: rgba(255, 255, 255, 0.38);
        }
    }

    & input:autofill {
        box-shadow: 0 0 0 30px rgb(55 60 80) inset !important;
        border-radius: 0;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
    }

    &__inputAdornment {
        margin-right: 8px;
    }
}

.helperText {
    font-family: monospace;
    font-size: 14px;
}