.account {
    &_content {
        width: 100%;
    }

    &_animationFrame {
        width: 504px;
        margin: auto;

        @media screen and (max-width: 600px) {
            padding-top: 90px;
        }
    }

    &_button {
        margin-top: 0.825rem;
    }
}

div.account_box {
    width: calc(100% - 2rem);
    min-width: 320px;
    max-width: 550px;
    margin: auto;
    background: rgba(45, 50, 70, 0.87);
}