.content {
    padding: 16px 24px 24px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(45, 50, 70, 0.75) 10%, rgba(80, 50, 70, 0.75) 80%, rgba(45, 50, 70, 0.75)) 2%;
    
    @media screen and (max-width: 480px) {
        padding: 16px;
    }
}

.animationFrame {
    width: 504px;
}

.actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;

    button:nth-child(3n + 1) {
        grid-column: 1 / 3;
    }
}