.root {
    position: relative;
    z-index: 6;
    overflow-x: hidden;
    animation: rootBackground infinite;
    animation-duration: 15s;
    animation-timing-function: ease-in;
    background: linear-gradient(180deg, rgb(45, 50, 70) 15%, rgb(106, 50, 45) 85%);

    &::after {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        content: '';
        background-image: url('/assets/images/lines.png');
        background-repeat: repeat;
        background-blend-mode: multiply;
    }

    &__children {
        position: relative;
        z-index: 7;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        padding: 86px 0 64px;
    }
}

.title {
    position: fixed;
    top: 80px;
    left: 50%;
    display: table;
    font-family: MultiTypePixel, sans-serif;
    font-size: 3.75rem;
    line-height: 1.1;
    color: rgb(255, 255, 255);
    transform: translate(-50%);

    & > span {
        color: #0B2349;
        text-align: center;
        background: linear-gradient(0deg, rgb(106, 50, 45) 5%, #fff 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    @media screen and (max-width: 600px) {
        top: 20px;
        letter-spacing: -0.1rem;

        & span {
            display: block;
            font-size: 3.5rem;
        }
    }

    @media screen and (max-height: 700px) {
        top: 20px;
    }
}

.settings {
    z-index: 8;
    position: fixed;
    bottom: 8px;
    left: 8px;

    & svg {
        font-size: 1.75rem;
        color: rgba(255, 255, 255, 0.53);
    }
    & button:hover svg {
        color: rgba(255,255,255,0.83);
    }

}

.snackError {
    background-color: rgb(255, 81, 81, 0.83);
}

@keyframes rootBackground {
    0% {
        background-size: 100% 130%;
    }
    50% {
        background-size: 100% 100%;
    }
    100% {
        background-size: 100% 130%;
    }
}