.form {}

.tabs {
    margin-bottom: 16px;
}

.tab_withIcon {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.info {
    &__paper {
        max-width: 300px;
    }

    &__p {
        margin-bottom: 8px;
    }

    &__list {
        padding-left: 26px;
        margin: 0 0 8px;
    }
}