@font-face {
    font-family: 'MultiTypePixel'; 
    src: url('./assets/fonts/MultiTypePixel/MultiTypePixel-Regular.woff2') format('woff2'),
        url('./assets/fonts/MultiTypePixel/MultiTypePixel-Regular.woff')  format('woff'); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: 'Fifaks10Dev1';
    src: url('./assets/fonts/Fifaks10Dev1/Fifaks10Dev1.woff2') format('woff2'),
        url('./assets/fonts/Fifaks10Dev1/Fifaks10Dev1.woff')  format('woff'); 
    font-style: normal;
    font-weight: 600;
}