.content {
    padding: 0 12px;
}
.colorPaletteItem {
    width: 26px;
    height: 26px;
    cursor: pointer;
}
.colorPaletteWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 26px);
    row-gap: 8px;
    column-Gap: 8px;
}
.button {
    margin-top: 12px;
}