.paper {
    width: 100%;
    max-width: 350px;
    background: rgb(40, 50, 70);
    border-radius: 0;
    box-shadow: calc(-1 * var(--border-width)) 0 0 0 black,
        var(--border-width) 0 0 0 black,
        0 calc(-1 * var(--border-width)) 0 0 black,
        0 var(--border-width) 0 0 black;
}

.title {
    font-family: MultiTypePixel, sans-serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.53);
}

.content {
    overflow-y: unset;
}

.actions {
    padding: 0 24px 16px;
}